<div class="header jumbotron">
<h1 class="page-header text-center">MindScape:</h1>
<h2 class="text-center">  Bringing the top minds together to answer some of lifes most challenging questions.</h2>
</div>

{{#if model}}
<div class="questions">
  <h1>Current questions needing answering:</h1>
  {{#each model as |question|}}
    {{#link-to 'question' question.id}}<div class="row clearfix well">
      <div class="col-md-2 col-md-offset-1">
        <img src="assets/image/mind.jpg" alt="a picture of a brain" />
      </div>
      <div class="col-md-4 ">
      <h4 style="font-weight:bold; color:rgb(88, 117, 201);">{{question.author}} </h4>
      </div>
      <div class="col-md-4">
        <p class="lead">{{question.question}} </p>
      </div>
      <footer style="margin-bottom:0px;">
        <h6 style="float:right; margin-bottom:0px;">  {{format-date question.date}} </h6>
      </footer>
    </div>
    {{/link-to}}
  {{/each}}
</div>

{{else}}
no questions yet

{{/if}}
<div class="newquestions">
  {{#link-to 'new-question'}}<button type="submit" class="btn btn-block btn-success" {{action 'add'}}>Add Question</button>{{/link-to}}
  <div id="addModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Edit Question</h4>
        </div>
        <div class="modal-body">
          {{outlet}}
        </div>
      </div>
    </div>
  </div>
</div>
